// Colors setup
$primary: #161719;
$secondary: #0372B5;
$tertiary: #373B41;
$text-color: #C5C8C6;
$text-bg-color: #1D1F21;
$app-bg: #373B41;

// Sizes setup
$max-content-width: 1200px;
$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2rem;
$h4-size: 1.5rem;
$h5-size: 1.3rem;
$text-size: 1rem;
$text-size--sm: .8rem;
